* {
	box-shadow : 0 0 1px Blue;
}
body #styles-test-output {
	display : block;
	width : 30px;
	height : 30px;
	background-color : Red;
	color : White;
	font-weight : bold;
	font-size : 24px;
	line-height : 30px;
	text-align : center;
}
